<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="https://asheshs-demo-website.onrender.com/" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a target="_blank" href="https://www.facebook.com/ashesh.chakraborty.50/" class="nav-link px-2 text-body-secondary">Facebook</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Instagram</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Linkedin</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
    <p class="text-center text-body-secondary">&copy; 2024 Ashesh, Inc</p>
  </footer>
</div>
