<div class="border-bottom" style="margin-bottom:16px;  padding-bottom:8px;">
<div class="container text-left">
  <div class="row align-items-start">
    <div class="col">
      <h4 style="color:rgb(120,120,120); margin-bottom:4px;">{{job['title']}}</h4>
      <div>
        <b>Location:</b> {{job['location']}}
      </div>
      {% if 'salary' in job%}
      <div>
        <b>Salary:</b> {{job['salary']}}
      </div>
      {% endif %}
    </div>
    <div class="col align-self-end">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="mailto:cyber.ashesh@gmail.com?subject=Application%20for%20{{job['title']}}&body=Name%3A%0D%0AExperience%3A" type="button" class="btn btn-outline-primary me-md-2">Apply</a>
          </div>
    </div>
  </div>
</div>
    </div>


      
      
  
  